<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://daily.jstor.org/wp-content/uploads/2017/11/popcorn_history_1050x700.jpg);">
  <div class="container">
    <h1>Save Any Kind of Movie</h1>
  </div>
</div>

<div class="d-flex justify-content-between">
<h2> My Lists</h2>
<%= link_to 'Create a Movie List', new_list_path, class:"btn btn-flat" %>
</div>

<div class="cards">
  <% @lists.each do |list| %>
   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
     <%# argument (the brackets) only necessary when we need an id, because we're displaying a show page for a specific list %>
     <%= link_to list.name, list_path(list.id)  %>
   </div>
  <% end %>
</div>
