<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://daily.jstor.org/wp-content/uploads/2017/11/popcorn_history_1050x700.jpg);">
  <div class="container">
    <h1>Save Any Kind of Movie</h1>
  </div>
</div>

<div class="d-flex justify-content-between">
<h2> My Lists</h2>
<a class="btn btn-flat" href="#">Create a Movie List</a>
</div>


<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
    Comedy
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
    Animated
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
    Action
  </div>
</div>
